.tender-count {
    font-size: 1rem;
    margin: 0.4rem 0rem 0.4rem 1rem;
    width: 45%;
}
.tCount {
    font-size: 0.7rem;
    font-weight: bold;
    padding: .5rem;
}
.tender-cats{
    display: flex;
}
.tender-cat{
    width: 45%;
    float: right;
    margin: 0.4rem 0.4rem 0.4rem 1rem;
}
.tender-cat select{
    height: 1.5rem;
    vertical-align: middle;
    width: 45%;
}
.tenderWriteBtn{
    height: 1.5rem;
    width: 45%;
    font-size: .7rem;
    vertical-align: middle;
}