@charset "UTF-8";

#inside {
	margin-top: 50px;
}

#chartdiv {
	width: 80%;
	height: 500px;
	border: 1px solid #000;
}

#p {
	margin-left: 50px;
	color: #747474;
}

.circle {
	justify-content: space-around;
	border-radius: 100%;
	overflow: hidden;
	display: flex;
	width: 10rem;
	height: 10rem;
}

.circle-container {
	display: flex;
	border: 1px solid #000;
	width: 50%;
}

.circle-box {
	margin: 0 1rem;
}

.info-container {
	width: 50%;
	border: 1px solid #000;
}

.container {
	min-width: 1180px;
	width: 100%;
	padding: 0;
	margin: 0;
	margin-top: 50px;
	width: 100%;
}

#average {
	background: #B2EBF4;
}

#bad {
	background: #B2CCFF;
}

#realTime {
	background: #D1B2FF;
}

.inside-val {
	width: 100%;
	height: 100%;
	display: flex;
}

.inside-val p {
	display: inline-block;
	vertical-align: middle;
	margin: auto;
}

.circle-info {
	text-align: center;
}

.font {
	font-size: 60px;
}

/* 2019/06/14  */

/* cahrt css  */
tspan {
	font-size: .75rem;
}
/**************/
.liveChart_container {
	display: flex;
	justify-content: space-between;
}

.liveChart_info__container {
	display: flex;
	width: 20%;
	padding: 1rem;
	border: 1px solid #000;
	margin-left: 1rem;
}

.info_grade__container {
	display: flex;
	border: 1px solid #000;
}

.info_grade__face img {
	width: 5rem;
}

.info_grade__value {
	margin: auto;
	font-size: 1.5rem;
	font-weight: bold;
}

.info_table__box {
	width: 100%;
	border: 1px solid #000;
	border-right: none;
	display: flex;
	flex-direction: column;
}

.info_table__box:last-child {
	border-right: 1px solid #000;
}

.info_table__container {
	margin-top: 1rem;
	display: flex;
	justify-content: space-around;
	height: 7rem;
}

.info_table__value {
    text-align: center;
    margin: auto;
    font-size: 1.5rem;
    font-weight: bold;
}
.info_table__title {
    width: 100%;
    word-wrap: break-word;
    font-size: .75rem;
    text-align: center;
    border-bottom: 1px solid #000;
    white-space: nowrap;
    height: 2rem;
    padding: .5rem 0;
    font-weight: bold;
}

.info_behavior__container {
	height: 15rem;
	padding: 1rem;
	border: 1px solid #000;
	margin-top: 1rem;
}

.grade_1 {
	background: #B5B2FF;
	color: rgba(50, 50, 50, 0.7);
}

.grade_2 {
	background: #B2CCFF;
	color: rgba(50, 50, 50, 0.7);
}

.grade_3 {
	background: #B2EBF4;
	color: rgba(50, 50, 50, 0.7);
}

.grade_4 {
	background: #CEF279;
	color: rgba(50, 50, 50, 0.7);
}

.grade_5 {
	background: #FAED7D;
	color: rgba(50, 50, 50, 0.7);
}

.grade_6 {
	background: #FFC19E;
	color: rgba(50, 50, 50, 0.7);
}

.grade_7 {
	background: #FFA7A7;
	color: rgba(50, 50, 50, 0.7);
}

.grade_8 {
	background: #BDBDBD;
	color: rgba(50, 50, 50, 0.7);
}

.timeChart_container {
	display: flex;
	margin-top: 1rem;
	height: 250px;
}

.innerChart_container {
	width: 100%;
	height: 100%;
	border: 1px solid #000;
	margin-right: 1rem;
}

.innerChart_container:last-child {
	margin-right: 0 !important;
}

.hourChart_container {
	width: 100%;
	height: 100%;
}

#hourChart {
	width: 100%;
	height: 100%;
}

.dayChart_container {
	width: 100%;
	height: 100%;
}

#dayChart {
	width: 100%;
	height: 100%;
}

.monthChart_container {
	width: 100%;
	height: 100%;
}

#monthChart {
	width: 100%;
	height: 100%;
}

.chart_explain {
	border: 1px solid #000;
	text-align: center;
	width: 20rem;
	margin: auto;
}
/************* */