
/*================================OutSide CSS==============================*/
.category-container__border {
	margin-top: 1rem;
	width: 100%;
	border-bottom: 1px solid #00275c;
	height: 2.25rem;
}

.category-container__border .category-option {
	cursor: pointer;
	float: left;
	width: 10rem;
	height: 2.25rem;
	display: inline-flex;
	flex-wrap: wrap;
	font-size: 0.8rem;
	vertical-align: middle;
	padding: 0;
	border: 1px solid #000;
	border-left: none;
	color: #929191;
}

.category-container__border .category-option:first-child {
	border-left: 1px solid #000;
}

.category-container__border .category-option  select {
	width: 100%;
	border: none;
}


.table-container{
	margin:0;
	padding:0;
	display:flex;
	justify-content:space-around;
}
.measure-table{
	width: 100%;
	border:1px solid #000;
	text-align:center;
}
.measure-table th{
	padding: 0.25rem 0;
	border:1px solid #000;
}
.measure-table td{
	border:1px solid #000;
}
/*=========================================================================*/