@charset "UTF-8";

:root {
  --yellow: #ffc842;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    sans-serif;
}

td,
th {
  padding: 0.5rem;
}

th {
  text-align: left;
  font-weight: 300;
  font-size: 1.25rem;
}

.table {
  width: 100%;
  padding: 1rem;
}

h3{
	text-align: center;
}

.table__heading {
  border-bottom: 2px solid var(--yellow);
}

@media (max-width: 32rem) {
  .table__heading {
    display: none;
  }

  .table__content {
    display: block;
    padding: 0.5rem 0;
  }

  .table__row {
    margin: 0.25rem 1rem;
    padding: 0.5rem 0;
    display: block;
    border-bottom: 2px solid var(--yellow);
  }

  .table__content:before {
    content: attr(data-heading);
    display: inline-block;
    width: 5rem;
    margin-right: 0.5rem;
    color: #999;
    font-size: 0.75rem;
    font-weight: 700;
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}
/* /////////////////////////////////////////////// */
#airCheck {
	text-align: center;
	margin-top: 20px;
}

#chartdiv {
	width: 100%;
	height: 500px;
	margin-top: 50px;
}

table {
	width: 100%;
}

/* table, th, td {
	border: 1px solid #bcbcbc;
} */
.button {
	display: inline-block;
	padding: 19px 39px 18px 39px;
	color: #3ac162;
	background-color: #FFF;
	font-size: 20px;
	text-align: center;
	font-style: normal;
	border-radius: 5px;
	width: 40%;
	border: 1px solid #3ac162;
	margin-bottom: 10px;
	cursor: pointer;
}

/* 지도 시작 */
#outside {
	display: none;
}

#map {
	width: 1180px;
	height: 400px;
}

.pin_point {
	position: absolute;
	display: none;
	top: 50%;
	margin: 0 0 0 -50px;
	transform: translate(0, -100%);
	-webkit-transform: translate(0, -100%);
}

#area {
	padding-top: 6px;
}

#value {
	padding-bottom: 6px;
	padding-left: 4px;
	text-align: left !important;
}

.station_a {
	position: relative;
	display: block;
	width: 125px;
	margin-bottom: 25px;
	min-height: 51px;
	padding: 0 0 0px 0;
	background: #fff;
	border-radius: 2px;
	-webkit-border-radius: 5px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	font-size: 11px;
	text-align: center;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.station_a:before {
	content: '';
	position: absolute;
	bottom: -5px;
	left: 45%;
	width: 11px;
	height: 11px;
	background: #fff;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 10;
}

.station_name {
	overflow: hidden;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	color: #323232;
	font-weight: 500;
	white-space: normal;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.matter_name {
	overflow: hidden;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	color: #323232;
	font-weight: 500;
	white-space: normal;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.matter_value {
	overflow: hidden;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	color: #323232;
	font-weight: 500;
	white-space: normal;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.pin_s {
	cursor: pointer;
	width: 22px;
	height: 30px;
}

.pin_s_img {
	margin: 0px;
	padding: 0px;
	border: 0px solid transparent;
	display: block;
	user-select: none;
	-webkit-user-drag: none;
	box-sizing: content-box !important;
	max-width: none !important;
	max-height: none !important;
	min-width: 0px !important;
	min-height: 0px !important;
	position: absolute;
	cursor: inherit;
	width: 22px;
	height: 33px;
	left: 0px;
	top: 0px;
}

#htmlMarker1 {
	cursor: pointer;
	width: 40px;
	height: 40px;
	line-height: 42px;
	font-size: 10px;
	color: white;
	text-align: center;
	font-weight: bold;
	background: url(/resources/images/cluster-marker-1.png);
	background-size: contain;
}

#htmlMarker2 {
	cursor: pointer;
	width: 40px;
	height: 40px;
	line-height: 42px;
	font-size: 10px;
	color: white;
	text-align: center;
	font-weight: bold;
	background: url(/resources/images/cluster-marker-2.png);
	background-size: contain;
}

#htmlMarker3 {
	cursor: pointer;
	width: 40px;
	height: 40px;
	line-height: 42px;
	font-size: 10px;
	color: white;
	text-align: center;
	font-weight: bold;
	background: url(/resources/images/cluster-marker-3.png);
	background-size: contain;
}

#htmlMarker4 {
	cursor: pointer;
	width: 40px;
	height: 40px;
	line-height: 42px;
	font-size: 10px;
	color: white;
	text-align: center;
	font-weight: bold;
	background: url(/resources/images/cluster-marker-4.png);
	background-size: contain;
}

#htmlMarker5 {
	cursor: pointer;
	width: 40px;
	height: 40px;
	line-height: 42px;
	font-size: 10px;
	color: white;
	text-align: center;
	font-weight: bold;
	background: url(/resources/images/cluster-marker-5.png);
	background-size: contain;
}