@charset "UTF-8";

#airCheck {
	text-align: center;
	margin-top: 20px;
}

.button {
	display: inline-block;
	padding: 19px 39px 18px 39px;
	color: #3ac162;
	background-color: #FFF;
	font-size: 20px;
	text-align: center;
	font-style: normal;
	border-radius: 5px;
	width: 40%;
	border: 1px solid #3ac162;
	margin-bottom: 10px;
	cursor: pointer;
}

/* 지도 시작 */
.infowindow{
	display:block;
	position:absolute;
	width:200px;
	top:-50px;
	left:-90px;
	background-color:white;
	text-align:center;
	z-index:1;
	border:1px solid black;
	margin:0;
	padding:0;
}

.info_tri1{
	margin: 0px; 
	padding: 0px; 
	width: 0px; 
	height: 0px; 
	position: absolute; 
	border-width: 24px 10px 0px; 
	border-style: solid; 
	border-color: rgb(51, 51, 51) transparent; 
	border-image: initial; 
	pointer-events: none; 
	box-sizing: content-box !important; 
	transform-origin: right bottom 0px; 
	transform: skewX(0deg); 
	bottom: -25px; 
	left: 90px;
}

.info_tri2{
	margin: 0px; 
	padding: 0px; 
	width: 0px; 
	height: 0px; 
	position: absolute; 
	border-width: 24px 10px 0px; 
	border-style: solid; 
	border-color: rgb(255, 255, 255) transparent; 
	border-image: initial; 
	pointer-events: none; 
	box-sizing: content-box !important; 
	transform-origin: right bottom 0px; 
	transform: skewX(0deg); 
	bottom: -22px; 
	left: 90px;
}

.pin_s{
	cursor: pointer; 
	width: 22px; 
	height: 30px;
}

.pin_s_img{
	margin: 0px; 
	padding: 0px; 
	border: 0px solid transparent; 
	display: block; 
	user-select: none; 
	-webkit-user-drag: none; 
	box-sizing: content-box !important; 
	max-width: none !important; 
	max-height: none !important; 
	min-width: 0px !important; 
	min-height: 0px !important; 
	position: absolute; 
	cursor: inherit; 
	width: 22px; 
	height: 33px; 
	left: 0px; 
	top: 0px;
}

.pins_s_tooltip{
	display:none;
	width:150px;
	height:20px;
	position:absolute;
	top:5px;
	left:25px;
}

#htmlMarker1{
	cursor:pointer;
	width:40px;
	height:40px;
	line-height:42px;
	font-size:10px;
	color:white;
	text-align:center;
	font-weight:bold;
	background:url(/resources/images/cluster-marker-1.png);
	background-size:contain;
}

#htmlMarker2{
	cursor:pointer;
	width:40px;
	height:40px;
	line-height:42px;
	font-size:10px;
	color:white;
	text-align:center;
	font-weight:bold;
	background:url(/resources/images/cluster-marker-2.png);
	background-size:contain;
}

#htmlMarker3{
	cursor:pointer;
	width:40px;
	height:40px;
	line-height:42px;
	font-size:10px;
	color:white;
	text-align:center;
	font-weight:bold;
	background:url(/resources/images/cluster-marker-3.png);
	background-size:contain;
}

#htmlMarker4{
	cursor:pointer;
	width:40px;
	height:40px;
	line-height:42px;
	font-size:10px;
	color:white;
	text-align:center;
	font-weight:bold;
	background:url(/resources/images/cluster-marker-4.png);
	background-size:contain;
}

#htmlMarker5{
	cursor:pointer;
	width:40px;
	height:40px;
	line-height:42px;
	font-size:10px;
	color:white;
	text-align:center;
	font-weight:bold;
	background:url(/resources/images/cluster-marker-5.png);
	background-size:contain;
}