* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bg-white {
  background-color: white;
}

.app-top {
  /*bottom line*/
  border-bottom: 1px solid #000000;
  /* display: flex; */
  position: relative;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  /* align center */
  padding: 0.5rem 1rem;
}

.app-top .navbar-fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.app-top .img-logo {
  padding-left: 35%;
}

.app-top .img-logo img {
  background-image: url(../../../../www/resources/images/logo.png);
  height: 8rem;
}

.app-top .top-menu {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.app-top .top-menu .toggler-icon {
  display: inline-block;
  width: 3.5em;
  height: 3.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

.app-top .menu-color__black {
  /* border color set -- not used */
}

.app-top .menu-color__black .toggler-icon {
  /* toggler icon */
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* bottom menu start */
.app-bottom {
  padding: 2rem 5rem 2rem 5rem;
  bottom: 0;
  /* border top */
  border-top: 1px solid black;
  /* display: flex; */
  position: relative;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.app-bottom .img-logo img {
  height: 5rem;
}

.app-bottom .img-logo .user {
  height: 7rem;
}

#content {
  min-height: 100%;
  padding-top: 10%;
}

.navbar-fixed {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

.sidebar-wrap {
  position: absolute;
  right: 0;
  z-index: 4000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: black;
  width: 45%;
  min-height: 100vh;
}

.sidebar-wrap .items {
  width: 100%;
}

.sidebar-wrap .menu-title {
  height: 9rem;
  padding: 2.5rem;
  background-color: #f3c3c3;
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
  vertical-align: middle;
  border-bottom: 1px solid #fff;
}

.sidebar-wrap .item {
  font-size: 3rem;
  border-bottom: 1px solid #fff;
  padding: 1.5rem;
  background-color: #b0b0b0;
  width: 100%;
  cursor: pointer;
}

.sidebar-wrap .item:hover {
  background-color: #f5f5f5;
}

.sidebar-wrap .item:first-child {
  background-color: #fff;
}

.sidebar-wrap .item:last-child {
  color: #fff;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.sidebar-wrap .side-menu {
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 3rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.sidebar-wrap .side-menu .close-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1.5em;
  height: 1.5em;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

.sidebar-wrap .close-icon {
  /* toggler icon */
  background-image: url("../../../../www/resources/images/close.png") !important;
}
/*# sourceMappingURL=mainFrame.css.map */