<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yjc.airq.mapper.BoardMapper">
	<select id="getBoards" resultType="com.yjc.airq.domain.BoardVO">
		SELECT * FROM BOARD_TEST
	</select>
	
	<select id="detailBoard"  parameterType="int" resultType="com.yjc.airq.domain.BoardVO">
		SELECT * FROM BOARD_TEST WHERE BOARD_ID= #{board_id}
	</select>
	
	<insert id="insertBoard" parameterType="com.yjc.airq.domain.BoardVO">
		INSERT INTO BOARD_TEST (BOARD_ID,BOARD_NAME,BOARD_CONTENT,BOARD_AUTHOR)
		VALUES (SEQ_BOARD.NEXTVAL,#{board_name},#{board_content},#{board_author})
	</insert>
	<update id="modifyBoard" parameterType="com.yjc.airq.domain.BoardVO" >
		UPDATE BOARD_TEST 
		SET BOARD_NAME=#{board_name},BOARD_CONTENT=#{board_content}
		WHERE BOARD_ID=#{board_id}
	</update>
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM BOARD_TEST WHERE BOARD_ID=#{board_id}
	</delete>
</mapper>