<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yjc.airq.mapper.ManageMapper">

	<select id="remoteReg" resultType="com.yjc.airq.domain.IotVO">
		select * from IOT
	</select>

	<select id="iotMain" resultType="com.yjc.airq.domain.IotInfoVO">
		select m.member_id, mo.model_name, i.place_name
		from iot_info i, model mo, member m
		where m.member_id = #{member_id}
		and i.model_id = mo.model_id
	</select>
	
</mapper>