<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjc.airq.mapper.MemberMapper">
	<select id="getMemberList" resultType="com.yjc.airq.domain.MemberVO">
		select * from member
	</select>
	<select id="login" resultType="com.yjc.airq.domain.MemberVO">
		select password from member where id = #{id}
	</select>
	
	<select id="findId" resultType="com.yjc.airq.domain.MemberVO"> 
		select id from member where name=#{name} and (email=#{email} or tel=#{tel})
	</select>
	
	<select id="findPw" resultType="com.yjc.airq.domain.MemberVO"> 
		select password from member where name=#{name} and id=#{id} and (email=#{email} or tel=#{tel})
	</select>
</mapper>