<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjc.airq.mapper.PaymentMapper">
	<resultMap type="com.yjc.airq.domain.DemandVO" id="DemandVO">
		<result column="product_code" property="product_code"></result>
	</resultMap>
	<resultMap type="com.yjc.airq.domain.PaymentVO" id="PaymentVO">
		<result column="payment_code" property="payment_code"></result>
		<result column="payment_price" property="payment_price"></result>
		<result column="refund_whether" property="refund_whether"></result>
		<result column="star_score" property="star_score"></result>
		<result column="demand_code" property="demand_code"></result>
		<result column="tender_code" property="tender_code"></result>
		<collection property="demandVO" resultMap="DemandVO"/>
	</resultMap>
	<select id="paymentList" resultMap="PaymentVO">
		select p.*,d.product_code from payment p , demand d where p.demand_code=d.demand_code
	</select>
</mapper>