<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjc.airq.mapper.UploadMapper">
	<insert id="imgUpload" parameterType="com.yjc.airq.domain.UploadVO">
		INSERT INTO UPLOAD(
			UPLOAD_CODE,
			ORIGINAL_NAME,
			FILE_NAME,
			UPLOAD_DATE,
			PRODUCT_CODE,
			POST_CODE
		)
		VALUES(
		#{upload_code},
		#{original_name},
		#{file_name},
		#{upload_date},
		#{product_code},
		#{post_code}
		)
	</insert>
	
	<select id="uploadUpdate" parameterType="com.yjc.airq.domain.UploadVO" resultType="com.yjc.airq.domain.UploadVO">
		SELECT * FROM UPLOAD WHERE UPLOAD_CODE=#{upload_code}
	</select>
	<delete id="deletePostUpload" parameterType="String">
		DELETE FROM UPLOAD WHERE POST_CODE=#{post_code}
	</delete>
	
	<!-- 투찰에 있던 파일 삭제 -->
	<delete id="deleteBidUpload" parameterType="map">
		delete from upload where upload_code in
		<foreach collection="list" item="upload" index="index" open="(" separator="," close=")">
			#{upload}
		</foreach>
	</delete>
</mapper>