#content{
	min-height:100vh;
}

@media (min-width: 768px){
	#content{
	max-width:70%;
	margin:56px auto auto auto;
	background:#f8f9fa;
	}
}
@media (max-width : 768px){
	#content{
		margin:56px 0 0 0;
		background:#fff;
}