#content{
	margin:auto;
	max-width:70%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.compare-wrap {
	margin-top:1rem;
	width: 100%;
	min-width:992px;
	max-width:1180px;
}

.compare-wrap div {
	display: inline-block;
}

.compare-recommand {
	border: 1px solid #00275c;
	text-align: center;
	width: 100%;
	vertical-align: top;
}

.recommand-explain {
	display: block !important;
	text-align: left;
	font-size: 0.8rem;
	border-bottom: 1px solid #00275c;
}

.smart_explain {
	color: #4b4a4a;
	font-size: 0.6rem;
	font-weight: normal;
	display: inline;
}

.recommand-explain .smart_recommand {
	padding-left: 1rem;
	display: inline;
	font-weight: bold;
}

.compare-recommand__posts {
	width: 100%;
}

.compare-recommand__post {
	padding: 0.7rem;
	max-width:30%;
}

.compare-recommand__post:first-child {
	margin: 0;
}

.recommanded-thumbnail {
	display: block !important;
}
.recommanded-thumbnail img{
	width:100%;
	padding : 1rem;
}
.recommanded-title {
	max-width:100%;
	white-space:normal !important;
	display: block;
	font-size: 1.25rem;
	padding: 0.2rem;
	font-weight: bold;
	white-space: nowrap;
	font-size: 0.9rem;
	overflow: visible;
	text-overflow: ellipsis;
}

.compare-recommand__post img {
	display: flex;
	margin: auto;
	flex-wrap: wrap;
	width: 180px;
	height: 180px;
}

.order-address {
	display: block;
	text-align: center;
	margin-top: 1rem;
}

.order-address .order-option {
	cursor: pointer;
	width: 13rem;
	font-size: 0.8rem;
}
.order-option:hover{
	transition:.2s;
	transform:scale(1.05);
	overflow:visible;
	border-color:#00275c;
	background:#eefaff;
}

.compare-category {
	margin-top: 1rem;
	width: 100%;
	border-bottom: 1px solid #00275c;
	height: 2rem;
}

.category-option {
	cursor: pointer;
	float: left;
	width: 10rem;
	height: 2rem;
	display: inline-flex;
	flex-wrap: wrap;
	font-size: 0.8rem;
	vertical-align: middle;
	padding: 0.2rem 0rem 0.2rem 1rem;
	border: 1px solid #00275c;
	border-bottom:1px solid #00275c;
	border-left: none;
	color: #929191;
}

.option-active {
	font-weight: bold;
	border: 1px solid #00275c;
	border-bottom:none;
	font-size: 1rem;
	color: #000;
	background: #fff;
}

.category-option:last-child {
	
}

.compare-list {
	display: block;
	width: 100%;
	margin: auto;
}

.compare-post {
	cursor:pointer;
	width: 100%;
	padding: 1rem;
	border-top:1px solid #00275c;
}
.post-item:hover {
	transition: 0.2s;
	background: #e1f6ff;
	transform:scale(1.2);
}
.compare-thumb img {
	width: 130px;
	height: 130px;
}

.compare-info {
	vertical-align: top;
	width: 80%;
	padding-left: 3rem;
}

.compare__title {
	display: block !important;
	font-weight: bold;
}

.compare__content {
	
	/* overflow setting start */
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	/* overflow setting end */
	
	width: 70%;
	margin-top: 0.7rem;
	font-size: 0.7rem;
}

.compare__price {
	vertical-align:top;
	padding-top: 2rem;
	float: right;
	font-weight: bold;
	color: #3d59fc;
}