* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.compare-wrap {
	margin:auto;
	margin-top:1rem;
	width: 100%;
	min-width:992px;
	max-width:1180px;
}

.compare-wrap div {
	display: inline-block;
}

.compare-recommand {
	border: 1px solid #00275c;
	text-align: center;
	width: 100%;
	vertical-align: top;
}

.recommand-explain {
	display: block !important;
	text-align: left;
	font-size: 0.8rem;
	border-bottom: 1px solid #00275c;
}

.smart_explain {
	color: #4b4a4a;
	font-size: 0.6rem;
	font-weight: normal;
	display: inline;
}

.recommand-explain .smart_recommand {
	padding-left: 1rem;
	display: inline;
	font-weight: bold;
}

.compare-recommand__posts {
	width: 100%;
}

.compare-recommand__post {
	padding: 0.7rem;
	max-width:30%;
}

.compare-recommand__post:first-child {
	margin: 0;
}

.recommanded-thumbnail {
	display: block !important;
	width:150px;
	height:150px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.recommanded-thumbnail img{
	width:100%;
	height:100%;
}

.recommanded-title {
	max-width:100%;
	white-space:normal !important;
	display: block;
	font-size: 1.25rem;
	padding: 0.2rem;
	font-weight: bold;
	white-space: nowrap;
	font-size: 0.9rem;
	overflow: visible;
	text-overflow: ellipsis;
}

.compare-recommand__post img {
	display: flex;
	margin: auto;
	flex-wrap: wrap;
}

.order-address {
	display: block;
	text-align: center;
	margin-top: 1rem;
}

.order-address .order-option {
	cursor: pointer;
	width: 13rem;
	font-size: 0.8rem;
}

.order-option:hover{
	transition:.2s;
	transform:scale(1.05);
	overflow:visible;
	border-color:#00275c;
	background:#eefaff;
}

.compare-category {
	margin-top: 1rem;
	width: 100%;
	border-bottom: 1px solid #00275c;
	height: 2rem;
}

.compare-category li {
	list-style:none;
}

.category-option {
	cursor: pointer;
	float: left;
	width: 10rem;
	height: 2rem;
	display: inline-flex;
	flex-wrap: wrap;
	font-size: 0.8rem;
	vertical-align: middle;
	padding: 0.2rem 0rem 0.2rem 1rem;
	border: 1px solid #ddd;
	border-bottom:1px solid #00275c;
	border-left: none;
	color: #929191;
}

.option-active {
	font-weight: bold;
	border: 1px solid #00275c;
	border-bottom:none;
	font-size: 1rem;
	color: #000;
	background: #fff;
}

.category-option:last-child {
	
}

.compare-list {
	display: block;
	width: 100%;
	margin: auto;
}

.compare-post {
	cursor:pointer;
	width: 100%;
	padding: 1rem;
	border-bottom:1px solid #ddd;
}

.post-item:hover {
	transition: 0.2s;
	background: #e1f6ff;
	transform:scale(1.05);
}

.compare-thumb {
	width: 130px;
	height: 130px;
}
.compare-thumb img{
	width:100%;
	height:100%;
}

.compare-thumb img{
	width:100%;
	height:100%;
}

.compare-info {
	vertical-align: top;
	width: 80%;
	padding-left: 3rem;
}

.compare__title {
	display: block !important;
	font-weight: bold;
}

.compare__content {
	
	/* overflow setting start */
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	/* overflow setting end */
	
	width: 70%;
	margin-top: 0.7rem;
	font-size: 0.7rem;
}

.compare__price {
	vertical-align:top;
	padding-top: 2rem;
	float: right;
	font-weight: bold;
	color: #3d59fc;
}

.productWriteDiv {
	height: 50px;
}

#productWrite {
	border-radius: 2px;
	margin-top: 10px;
	float: right;
	height: 40px;
	width: 90px;
	background-color: transparent;
	color: #428bca;
	border: 1px solid #428bca;
}

#productWrite:hover {
    background-color: #428bca;
    color: white;
}

.compare-list_grid{
	display: flex !important;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content:space-evenly;
}

.compare-post_grid{
	width: 24%;
	display: flex !important;
	flex-direction: column;
	padding: 1rem;
}

.compare-thumb_grid{
	width:200px;
	height:200px;
}
.compare-thumb_grid img {
	margin:auto;
	width: 100%;
	height: 100%;
}

.compare-info_grid {
	vertical-align: top;
	width: 80%;
	display:flex !important;
	flex-direction:column;
}
.sort-item{
	float:right;
}
.sort_type {
    overflow: hidden;
    right: 0;
    top: 0;
    width: 51px;
    height: 2rem;
    border: 1px solid #d5d5d5;
    border-bottom:1px solid #000;
    display:flex;
    flex-direction:row;
}

.sort_type li:first-child {
    border-left: 0;
}
.sort_type li {
    float: left;
    width: 25px;
    height: 24px;
    border-left: 1px solid #eee;
}

.sort_type li:first-child {
    border-left: 0;
}

.sort_type li {
    float: left;
    width: 25px;
    height: 2rem;
    border-left: 1px solid #eee;
}

.sort_type li a {
    display: block;
    width: 100%;
    height: 17px;
    padding-top: 7px;
    text-align: center;
}
.sort_type .type_list:hover em, .sort_type .type_list.on em {
    background-position: -0px -175px;
}
.sort_type .type_list em {
    background-position: 0 -160px;
}
.sort_type li em {
    display: inline-block;
    overflow: hidden;
    width: 11px;
    height: 11px;
    background: url(https://ssl.pstatic.net/imgshopping/static/pc-real-2017/img/search/sp_search_v4.png) no-repeat;
    line-height: 9999px;
    vertical-align: top;
    cursor: pointer;
}
.sort_type .type_thumb:hover em, .sort_type .type_thumb.on em {
    background-position: -20px -175px;
}
.sort_type .type_thumb em {
    background-position: -20px -160px;
}