#companyName {
  text-align: center;
  font-size: 25px;
  color: #747474;
  margin-bottom: 5px;
}

#reviewAndStar {
  text-align: center;
  font-size: 18px;
  color: #747474;
  margin-top: 5px;
}

hr {
  color: gray;
}

.companyReview {
  margin:0 15px 15px 15px;
  padding: 0 15px 15px 15px;
}  

.reviewId {
  font-weight: bold;
  font-size: 20px;
  margin: 0px !important;
}

.reviewDate {
  font-size: 12px;
  font-weight: normal;
  color: gray;
}

.memberStar {
  color: gray;
  margin: 0px !important;
}

.star {
  color: #FFE400;
}


.reviewText {
  position:relative;
  padding:15px;
  margin:1em 0;
  border:5px solid #5a8f00;
  color:#333;
  background:#fff;
  /* css3 */
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

.reviewText:before {
  content:"";
  position:absolute;
  border-width:20px 20px 0;
  border-style:solid;
  border-color:#5a8f00 transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
  top:-20px; /* value = - border-top-width - border-bottom-width */
  left: 20px;
   /* controls horizontal position */
  border-width:0 20px 20px;

}

/* creates the smaller  triangle */
.reviewText:after {
  content:"";
  position:absolute;
  border-width:13px 13px 0;
  border-style:solid;
  border-color:#fff transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
  top:-13px; /* value = - border-top-width - border-bottom-width */
  left: 27px; /* value = (:before right) + (:before border-right) - (:after border-right) */
  border-width:0 13px 13px;
}