.site_main.view {
    padding: 60px 50px 130px;
    margin: 0 auto;
    min-width: 1280px;
    max-width: 1360px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
main {
    display: block;
}
body {
    margin: 0;
    word-break: keep-all;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
body, input[type=email], input[type=number], input[type=password], input[type=text], option, select, input {
    font-family: proxima-nova,'Noto Sans KR',sans-serif !important;
}
html {
    font-size: 14px;
    line-height: 22px;
    color: #555;
}
.clear:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    line-height: 0;
    opacity: 0;
    overflow: hidden;
    clear: both;
}
.s_out, legend {
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    text-indent: 10rem;
    white-space: nowrap;
    color: rgba(0,0,0,0);
    border: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, strong, th {
    font-weight: 400;
}
dd, dl, h1, h2, h3, h4, h5, input, p, pre {
    margin: 0;
}
.viewdetail .imgs {
    float: left;
    width: calc(100% - 600px);
}
.viewdetail .imgs .visual {
    margin-bottom: 20px;
}
.viewdetail .imgs .visual a {
    display: block;
    width: 100%;
    height: 0;
    padding-top: 100%;
    position: relative;
}
a {
    text-decoration: none!important;
    color: inherit;
}
.viewdetail .imgs .thumbnails a img, .viewdetail .imgs .visual img {
    height: 100%;
    width: auto;
}
.btn_arr:before, .input_text button:before, .pos_center, .pos_center_after:after, .pos_center_before:before {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
img {
    max-width: 100%;
    vertical-align: top;
    border: 0;
}
a {
    text-decoration: none!important;
    color: inherit;
}
.viewdetail .info {
    position: relative;
    float: right;
    width: 540px;
    padding-top: 15px;
}
.viewdetail .info .brand {
    font-size: 30px;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 12px;
}
.viewdetail .info .brand, .viewdetail .info .name {
    width: 320px;
}
.lnb .tit_lnb, .slides.black .info, .tc_1, .tit_page, .wrap_board .ans:before, [class*=btn_] {
    color: #111;
}
.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    white-space: nowrap;
}
.viewdetail .info .name {
    font-size: 21px;
    line-height: 24px;
    margin-bottom: 24px;
}
h1, h2, h3, h4, h5, strong, th {
    font-weight: 400;
}
h1, h2, h3, h4, h5, strong, th {
    font-weight: 400;
}
dd, dl, h1, h2, h3, h4, h5, input, p, pre {
    margin: 0;
}
.viewdetail .info .price {
    width: 100%;
}
.viewdetail .info .price .final, .viewdetail .info .price .final+dd {
    line-height: 34px;
    height: 34px;
}
.viewdetail .info .price dt {
    width: 80px;
    font-size: 14px;
    line-height: 22px;
}
.viewdetail .info .price dd, .viewdetail .info .price dt {
    float: left;
}
.viewdetail .info .price dd {
    width: calc(100% - 80px);
}
.viewdetail .info .price.lc_e5 {
    border-width: 1px 0 0;
    margin-top: 27px;
    padding-top: 22px;
}
.viewdetail .info .price {
    width: 100%;
}
.btn_coupon, .flag.tag, .input_select.disabled, .lc_e5, .lc_e5[class*=btn_], .lc_e5_b:before, .table_st td:first-child input[disabled]+label:before {
    border-color: #e5e5e5;
}
.text_link:before, [class*=btn_], [class*=lc_], input[class*=lc_] {
    border-style: solid;
    border-width: 1px;
}
.viewdetail .info .price .final, .viewdetail .info .price .final+dd {
    line-height: 34px;
    height: 34px;
}
.viewdetail .info .price dt {
    width: 80px;
    font-size: 14px;
    line-height: 22px;
}
.viewdetail .info .price .final+dd .now {
    margin-right: 12px;
}
.viewdetail .info .price .final+dd .now, .viewdetail .info .price .final+dd .sale, .viewdetail .info .price .origin+dd .now {
    font-size: 30px;
    line-height: 34px;
    display: inline-block;
    font-weight: 700;
}
.viewdetail .info .option_cale {
    margin-top: -12px;
}
.viewdetail .info .btns .btn_add {
    float: left;
}
.viewdetail .info .btns [class*=btn_] {
    width: calc(50% - 3px);
    margin: 0;
}
.large[class*=btn_] {
    height: 60px;
    padding: 2px 60px 0;
    font-size: 16px;
    line-height: 20px;
}
button {
    padding: 0;
    background-color: rgba(0,0,0,0);
    border-radius: 0;
    cursor: pointer;
}
.viewdetail .info .btns .btn_buy {
    float: right;
}
.banner_top.bg_f .btn_close:after, .banner_top.bg_f .btn_close:before, .bg_1, .wrap_layer>.btn_close.bg_1, .dark[class*=btn_], .flag.new {
    background-color: #111;
}
.dark[class*=btn_], .flag.new, .lnb.white .list_lnb, .lnb.white .list_lnb .dep2, .lnb.white .tit_lnb, .out, .tc_f {
    color: #fff;
}

.info-tab{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	background: rgb(168, 168, 168);
	justify-content: space-around;
	height: 3rem;
}
.info-tab div{
	cursor: pointer;
	width: 50%;
	text-align: center;
	color: rgb(248, 245, 245);
	line-height: 3rem;
	font-size: 20px;
	font-weight: bold;
}
.info-tab .active{
	background: #555;
}

#companyName {
	text-align: center;
	font-size: 25px;
	color: #747474;
	margin-bottom: 5px;
  }
  
  #reviewAndStar {
	text-align: center;
	font-size: 18px;
	color: #747474;
	margin-top: 5px;
  }
  
  hr {
	color: gray;
  }
  
  .companyReview {
	margin:1rem;
	padding: 1rem;
  }  
  
  .reviewId {
	font-weight: bold;
	font-size: 20px;
	margin: 0px !important;
  }
  
  .reviewDate {
	font-size: 12px;
	font-weight: normal;
	color: gray;
  }
  
  .memberStar {
	color: gray;
	margin: 0px !important;
  }
  
  .star {
	color: #FFE400;
  }
  
  
  .reviewText {
	position:relative;
	padding:15px;
	margin:1em 0;
	border:5px solid #5a8f00;
	color:#333;
	background:#fff;
	/* css3 */
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
  }
  
  .reviewText:before {
	content:"";
	position:absolute;
	border-width:20px 20px 0;
	border-style:solid;
	border-color:#5a8f00 transparent;
	/* reduce the damage in FF3.0 */
	display:block;
	width:0;
	top:-20px; /* value = - border-top-width - border-bottom-width */
	left: 20px;
	 /* controls horizontal position */
	border-width:0 20px 20px;
  
  }
  
  /* creates the smaller  triangle */
  .reviewText:after {
	content:"";
	position:absolute;
	border-width:13px 13px 0;
	border-style:solid;
	border-color:#fff transparent;
	/* reduce the damage in FF3.0 */
	display:block;
	width:0;
	top:-13px; /* value = - border-top-width - border-bottom-width */
	left: 27px; /* value = (:before right) + (:before border-right) - (:after border-right) */
	border-width:0 13px 13px;
  }