@charset "UTF-8";

#content{
	margin:auto;
	max-width:70%;
}

#product-page-straightflexxing {
	display: flex !important;
	flex-direction: column !important;
	background: linear-gradient(0deg, rgba(248, 168, 123, 0.35) 0%,
		rgba(228, 179, 60, 0.36) 100%);
}

.product-page-product-details-section {
	background: white;
}

.product-page-product-image-block {
	background: #EBECEA;
	border-radius: 21px;
}

.product-page-info-section, .product-page-info-section .price {
	display: flex;
}

.product-page-info-section.type {
	flex-direction: row;
	width: 100%;
}

.product-page-info-section {
	margin-bottom: .25em;
}

.product-page-info-section.price {
	flex-direction: column !important;
}

.product-page-info-section-inner-price {
	order: 1;
}

.product-page-info-section-inner-deposit {
	order: 2;
}

.type :nth-of-type(2) {
	margin-left: 5%;
}

.title h1 {
	font-family: 'Montserrat' !important;
	color: #000000;
	margin-bottom: 0em;
	font-weight: 500;
	font-size: 36px;
}

.product-page-h2-heading {
	font-family: 'Open Sans' !important;
	font-weight: 400;
	font-size: 18px;
	color: #000000;
	letter-spacing: 0;
	margin-top: 0;
	margin-bottom: .25em;
}

.product-page-info-section.price {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

h2.price {
	font-size: 24px;
}

.product-page-info-section.amount {
	margin-top: 1em;
}

.product-page-heading-type {
	font-family: 'Open Sans' !important;
}

.product-page-heading-type:after {
	content: "";
	float: left;
	background: skyblue;
	width: 105%;
	height: 5%;
	border-radius: 50px;
}

.product-page-info-section.type {
	padding-top: 0px !important;
	margin-top: 0px !important;
}

#DFH-price-previous-usd {
	margin-bottom: 1em;
	margin-right: 12px;
	font-weight: bold !important;
	display: inline-block;
	font-weight: normal !important;
	text-decoration: line-through;
	display: none;
}

#DFH-price-usd {
	font-weight: 500 !important;
	display: inline-block;
}

@import
	url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans') ! important
	;

font-family: 'Open Sans ', sans-serif !important ;
font-family: 'Montserrat ', sans-serif !important ;

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif !important;
	color: #000 !important;
}

p {
	font-family: 'Open Sans', sans-serif !important;
	color: #000 !important;
}

.product-page-product-details-section, #product-page-straightflexxing {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

#product-page-straightflexxing {
	flex-direction: column;
}

.product-page-product-image-block {
	display: flex;
	width: 50%;
	margin: 1em;
	padding: -1em;
	order: 1;
	align-items: center;
	justify-content: center;
}

.product-page-product-details-list-block {
	order: 2;
	text-align: left;
	width: 50% !important;
}

.product-page-buybutton {
	width: 50%;
	text-align: center !important;
	text-decoration: none !important;
	background-color: #000 !important;
	color: #eae4e5 !important;
	border-color: #000 !important;
	border-width: 1px !important;
	font-family: 'Montserrat', sans-serif !important;
	border-radius: 50px !important;
	padding-left: 50px !important;
	padding-right: 50px !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	font-weight: bold !important;
	a{text-decoration: none !important;}
}

button {
    background: none;
    margin: 0;
    font-size: 14px;
    outline: 0;
    -webkit-apperance: none;
    font-family: inherit;
    border: 0;
    padding: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
}

.comment {
    position: relative;
    padding: 12px 12px 12px 64px;
}

.comment-wrap {
	margin-top: 16px;
	margin-bottom: 8px;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .15);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .15);
}

.comment-header {
	position: relative;
	padding: 16px;
}

.comment__title {
	display: inline;
	line-height: 21px;
	font-size: 18px;
	color: #1e2022;
}

.comment__count {
	line-height: 18px;
	font-size: 14px;
	color: #7b858e;
}

.comment-wrap>.comment-write {
	padding: 24px 16px;
}

.comment-write {
	/* background: #f8f9fa; */
	
}

.comment-write-inner {
	background-color: #fff;
	border: 1px solid #dddfe4;
}

.comment-write__name {
	padding: 16px 16px 0;
	line-height: 17px;
	font-size: 14px;
	color: #1e2022;
	font-weight: 700;
}

.comment-write__content {
	margin: 8px 16px 0;
	padding-bottom: 16px;
}

.comment-write__content textarea {
	display: block;
	width: 100%;
	min-height: 40px;
	line-height: 20px;
	font-size: 14px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	resize: none;
	border: none;
	outline: none;
	font-family: Helvetica, Arial, Malgun Gothic, sans-serif;
}

.comment-write-footer {
	position: relative;
	border-top: 1px solid #dddfe4;
	min-height: 42px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding-right: 100px;
}

.comment-write-submit {
	position: absolute;
	right: 0;
	bottom: 0;
}

.comment-write-submit .button {
	width: 92px;
	padding: 10px 9px;
	line-height: 20px;
	font-size: 16px;
	border-radius: 0;
	border: 1px solid #dddfe4;
}
.comment-sort {
    border-bottom: 1px solid #dddfe4;
    padding: 0 16px;
}
.comment-vote {
    position: absolute;
    left: 0;
    top: 12px;
    width: 64px;
    text-align: center;
}
.comment-meta {
    line-height: 17px;
    font-size: 14px;
    color: #7b858e;
}
.comment__name {
    font-weight: 700;
    color: #1e2022;
    word-wrap: break-word;
    word-break: break-all;
}
.comment-content {
    margin-top: 8px;
    line-height: 20px;
    font-size: 14px;
    color: #1e2022;
    word-wrap: break-word;
    word-break: break-all;
}
ol, ul {
    list-style: none;
}
.comment-sort__item {
    float: left;
}
.comment-sort__list:after {
    content: "";
    display: block;
    clear: both;
}
.comment-sort__item button {
    padding: 15px 16px 11px;
    line-height: 19px;
    font-size: 16px;
    color: #1e2022;
    border-bottom: 3px solid transparent;
}
.comment-sort__item--active button {
    color: #16ae81;
    border-color: #46cfa7;
}
.button--blue {
	border-color: #0084da;
	background-color: #0084da;
	color: #fff;
}

.article-content img {
	max-width: 100%;
	height: auto !important;
}

.comment-l:first-child {
    border-top: 0;
}
.comment-l {
    position: relative;
    border-top: 1px solid #dddfe4;
}

.comment__button {
    line-height: 17px;
    font-size: 14px;
    color: #7b858e;
}

.comment__button--red {
    color: #f95b54;
}

@media ( max-width : 992px) {
	.product-page-product-image-block {
		width: 50% !important;
	}
	.product-page-hero-product-image img {
		width: 100%;
	}
	.product-page-product-details-list-block {
		margin-top: 1em !important;
		width: 100% !important;
	}
	.product-page-product-details-section {
		flex-direction: column;
	}
	.product-page-product-details-list-block {
		margin-top: 1em !important;
	}
	.product-page-product-details-list-block {
		margin-top: .25em !important;
	}
	.product-page-product-image-block {
		width: 100% !important;
	}
}

@media ( min-width : 993px) {
	.product-page-product-details-list-block {
		margin: 1em !important;
		width: 50% !important;
	}
	.product-page-product-details-section {
		
	}
}