@charset "UTF-8";

.tenderTitle {
	color: #747474;
	font-weight: 300;
	text-align: center;
	margin-top: 15px;
}

.tenderSelectDiv {
	height: 40px;
}

.tenderSelect {
	float: right;
	margin: 0 0 10 5px;
	height: 30px;
}

.tenderWriteDiv {
	height: 50px;
}

#tenderWrite {
	border-radius: 2px;
	float: right;
	height: 40px;
	width: 90px;
	background-color: transparent;
	color: #428bca;
	border: 1px solid #428bca;
}
#tenderWrite:hover {
    background-color: #428bca;
    color: white;
}