/* Page Header */
.page-header {
    background: #f9f9f9;
    padding: 20px 40px;
    border-bottom: 4px solid #ccc;
    color: #999;
    text-transform: uppercase;
    }
    .page-header h3 {
        line-height: 0.88rem;
        color: #000;
        }