<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../../www/resources/css/comunity/comunity.css">
    <link rel="stylesheet" href="../../../www/resources/css/bootstrap.css">
    <link rel="stylesheet" href="../../../www/resources/css/include/header.css">
    <link rel="stylesheet" href="../../../www/resources/css/include/table.css">
    <script src="../../../www/resources/js/jquery-3.3.1.min.js"></script>
    <script src="../../../www/resources/js/bootstrap.js"></script>
    <script src="../../../www/resources/js/TweenLite.js"></script>
    <script src="../../../www/resources/js/TweenMax.js"></script>
    <script src="../../../www/resources/js/animation.js"></script>
</head>

<body>
    <div id="header"></div>
    <div class="load-gate">Loading...</div>
    <div id="header"></div>
    <div id="content">
        <div class="py-5">
            <ul class="tableList">
                <li class="tableListHeader">
                    <div class="tableColumn tableCol-10-1">번호</div>
                    <div class="tableColumn tableCol-30">제목</div>
                    <div class="tableColumn tableCol-15">내용</div>
                    <div class="tableColumn tableCol-15">작성자</div>
                    <div class="tableColumn tableCol-15">등록일</div>
                </li>
                <div class="post-row"></div>
            </ul>
            <div class="d-flex flex-row-reverse bd-highlight">
                <div class="p-2 bd-highlight">
                    <button class="btn btn-primary" type="submit" id="post-write">글작성</button>
                </div>
            </div>
            <nav aria-label="Page navigation example">
                <div class="d-flex justify-content-center">
                    <ul class="pagination">
                    </ul>
                </div>
            </nav>

        </div>
    </div>
    <div id="footer"></div>
    <script src="../../../www/resources/js/community/community.js"></script>
</body>

</html>