* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none !important;
}

*, :after, :before {
	box-sizing: border-box;
}

.mb50 {
	margin-bottom: 50px !important;
}

.measure-container {
	display: flex;
	text-align: center;
	justify-content: space-between;
}

.aqi-container {
	flex-direction: column;
	box-sizing: border-box;
	display: flex;
	place-content: stretch center;
	align-items: stretch;
	flex: 1 1 80px;
}

.ng-star-inserted {
	flex: 1 1 364px;
	box-sizing: border-box;
	display: block;
	max-width: 18rem;
}

.city-forecast {
	cursor: pointer;
	display: inline-block !important;
	padding: 2rem 1rem 0rem 1rem;
	flex-direction: row;
	box-sizing: border-box;
	display: flex;
	place-content: stretch space-between;
	align-items: stretch;
	max-height: 100%;
}

.city-forecast-link {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 7px;
	overflow: hidden;
	box-shadow: 0 1px 3px 1px rgba(0, 0, 0, .1);
	flex-direction: column;
	box-sizing: border-box;
	display: flex;
}

.city-forecast-header {
	font-size: 20px;
	height: 46px;
	background: #fff;
	padding: 0 20px 0 25px;
	color: #414141;
	place-content: center space-between;
	align-items: center;
	flex-direction: row;
	box-sizing: border-box;
	display: flex;
}

.city-forecast-header .name {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 500;
}

.city-forecast-header .weather.icon {
	width: 40px;
	height: 40px;
	-o-object-fit: cover;
	object-fit: cover;
	margin-right: 10px;
}

.city-forecast-body {
	padding: .5rem;
}

.city-forecast-body .face {
	padding: 8px 10px;
}

.city-forecast-body .face img {
	width: 68px;
	height: 68px;
	-o-object-fit: cover;
	object-fit: cover;
}

.city-forecast-body .aqi-contanier {
	padding: 10px 20px;
}

.city-forecast-body .aqi-container .aqi {
	font-size: 44px;
	line-height: 1;
	margin: auto;
	margin-bottom: 5px;
}

.city-forecast-body .aqi-contanier span {
	display: block;
	text-align: center;
}

.city-forecast-body .aqi-contanier .aqi-type {
	font-size: 12px;
	line-height: 1;
	height: 18px;
}

.city-forecast-body .aqi-contanier span {
	display: block;
	text-align: center;
}

.status {
	text-align: center;
	font-weight: 600;
	padding-top: 7px;
	line-height: 18px;
}

.pollutant {
	padding: .5rem !important;
	width: 100%;
	height: 18px;
	font-size: .7rem;
	line-height: 1;
	background: #fff;
	border-radius: 4px;
	font-weight: 700;
	overflow: hidden;
	padding: 3px 0;
	place-content: center;
	align-items: center;
	flex-direction: row;
	box-sizing: border-box;
	display: flex;
}

img {
	vertical-align: middle;
	border-style: none;
}

.aqi-bg-light-yellow {
	background: #ffdf58;
}

.aqi-yellow {
	color: #a57f23;
	background: #fdd74b;
}

a {
	color: #3c3c3c;
}

/* 2019/07/17 -- Air Quality CSS */
.quality_cards {
	display: flex;
}

#content {
	max-width: 100% !important;
}

.matter-box {
	display: flex;
	flex-wrap: wrap;
}

.matter-box ul {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	margin: 0;
}

.matter-box ul li {
	cursor: pointer;
	padding: 1rem;
	background: #ddd;
	font-weight: bold;
	border-radius: 1rem;
	border: 1px solid #000;
}

.areaBox {
	text-align: center !important;
	font-size: 1.5rem;
	padding-top: 1.5rem !important;
}

.sideQBox {
	display: flex;
	margin: 2.5rem 0;
	flex-direction: column;
}

#outsideBox {
	border: 4px solid #7345e4;
	border-radius: 1rem;
	overflow: hidden;
}

#insideBox {
	border: 4px solid #2b7cf7;
	border-radius: 1rem;
	overflow: hidden;
}

.insideTitle {
	background: #2b7cf7;
	padding: 1rem;
	color: white;
	font-size: 18px;
}

.outsideTitle {
	background: #7345e4;
	padding: 1rem;
	color: white;
	font-size: 18px;
}

.sideContent {
	margin-top: 2rem;
	width: 100%;
	height: 100%;
	display: flex;
}

.sideSWrap {
	display: flex;
	flex-direction: column;
	width: 30%;
}

.matSBox {
	display: flex;
	padding: .5rem 1rem;
}

.matSBox select {
	margin: 0 .5rem;
	width: 100%;
	font-size: 12px;
}

.matViewBox {
	margin: 1rem;
	border-radius: 1rem;
	overflow: hidden;
}

.matGrade {
	text-align: center;
	color: #454;
	font-size: 21px;
	background-color: rgba(0, 0, 0, 0.1);
}

.matFBox {
	display: flex;
	height: 100%;
}

.matFBox img {
	width: 80%;
	margin: auto;
}

.matValue {
	text-align: center;
	background-color: rgba(0, 0, 0, 0.1);
	color: #454;
	font-size: 21px;
}

#insideMatChart {
	width: 100%;
}




/************************************************/

/* Grade Background*/
.grade_1 {
	background: #B5B2FF;
	color: rgba(50, 50, 50, 0.7);
}

.grade_2 {
	background: #B2CCFF;
	color: rgba(50, 50, 50, 0.7);
}

.grade_3 {
	background: #B2EBF4;
	color: rgba(50, 50, 50, 0.7);
}

.grade_4 {
	background: #CEF279;
	color: rgba(50, 50, 50, 0.7);
}

.grade_5 {
	background: #FAED7D;
	color: rgba(50, 50, 50, 0.7);
}

.grade_6 {
	background: #FFC19E;
	color: rgba(50, 50, 50, 0.7);
}

.grade_7 {
	background: #FFA7A7;
	color: rgba(50, 50, 50, 0.7);
}

.grade_8 {
	background: #BDBDBD;
	color: rgba(50, 50, 50, 0.7);
}

/*******************************/






/********* Is it need? **********/


/* .quality_cards {
	display: flex;
}

#content {
	max-width: 100% !important;
}

.matter-box {
	display: flex;
	flex-wrap: wrap;
}

.matter-box ul {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	margin:0;
}

.matter-box ul li {
	cursor: pointer;
	padding: 1rem;
	background: #ddd;
	font-weight: bold;
	border-radius: 1rem;
	border: 1px solid #000;
}

#chartdiv {
	width: 88%;
	height: 500px;
}

.areaBox {
	text-align: center !important;
	font-size: 1.5rem;
	padding-top: 1.5rem !important;
} */


/****************************/



/************범례 CSS***********/

#before .measure_wrap {
    display: flex;
    flex-direction: column;
    width:100%;
}

#before .grade-table {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

#before .grade-box {
    /* border: 1px solid #000; */
    border-bottom: none;
    padding-bottom: 1.5vh;
}

#after .grade-table {
    display: flex;
    margin-top: 3vh;
}


#after .grade-box {
    display: flex;
    width: 100%;
}

#after .grade-explain {
    /* width: 100%; */
    margin: auto;
    display: flex;
}




/*****************************/