* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none!important;
}
*, :after, :before {
    box-sizing: border-box;
}
.mb50 {
    margin-bottom: 50px!important;
}
.measure-container{
	display:flex;
	text-align:center;
	justify-content:space-between;
}
.aqi-container{
    flex-direction: column;
    box-sizing: border-box; 
    display: flex; 
    place-content: stretch center; 
    align-items: stretch; 
    flex: 1 1 80px;
}
.ng-star-inserted{
    flex: 1 1 364px; 
    box-sizing: border-box; 
    display: block; 
    max-width: 18rem;
}
.city-forecast{
	display:inline-block !important;
	padding: 2rem 1rem 0rem 1rem;
    flex-direction: row; 
    box-sizing: border-box; 
    display: flex; 
    place-content: stretch space-between; 
    align-items: stretch;
    max-height: 100%;
}
.city-forecast-link{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.1);
    flex-direction: column; 
    box-sizing: border-box; 
    display: flex;
}
.city-forecast-header{
    font-size: 20px;
    height: 46px;
    background: #fff;
    padding: 0 20px 0 25px;
    color: #414141;
    place-content: center space-between; 
    align-items: center; 
    flex-direction: row; 
    box-sizing: border-box; 
    display: flex;
}
.city-forecast-header .name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
}

.city-forecast-header .weather.icon {
    width: 40px;
    height: 40px;
    -o-object-fit: cover;
    object-fit: cover;
    margin-right: 10px;
}
.city-forecast-body  {
    padding: .5rem;
}
.city-forecast-body .face {
    padding: 8px 10px;
}
.city-forecast-body .face img {
    width: 68px;
    height: 68px;
    -o-object-fit: cover;
    object-fit: cover;
}
.city-forecast-body .aqi-contanier {
    padding: 10px 20px;
}
.city-forecast-body .aqi-container .aqi {
    font-size: 44px;
    line-height: 1;
    margin: auto;
    margin-bottom: 5px;
}

.city-forecast-body .aqi-contanier span {
    display: block;
    text-align: center;
}
.city-forecast-body .aqi-contanier .aqi-type {
    font-size: 12px;
    line-height: 1;
    height: 18px;
}
.city-forecast-body .aqi-contanier span {
    display: block;
    text-align: center;
}
.status {
    text-align: center;
    font-weight: 600;
    padding-top: 7px;
    line-height: 18px;
}
.pollutant {
	padding:.5rem !important;
    width: 100%;
    height: 18px;
    font-size: .7rem;
    line-height: 1;
    background: #fff;
    border-radius: 4px;
    font-weight: 700;
    overflow: hidden;
    padding: 3px 0;
    place-content: center;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
}

img {
    vertical-align: middle;
    border-style: none;
}
.aqi-bg-light-yellow {
    background: #ffdf58;
}

.aqi-yellow {
    color: #a57f23;
    background: #fdd74b;
}

a {
    color: #3c3c3c;
}
