/*680px보다 웹페이지를 줄이면 일렬로 나타나게*/
@media ( max-width :680px) {
	.container>.register>* {
		/*  border:5px solid red; */
		
	}
	.container .register {
		padding-left: 0px;
		padding-right: 0px;
		overflow: visible;
	}
	.container .register>* {
		float: none;
		padding-bottom: 0px;
		margin-bottom: 0px;
	}
	.container .register main {
		width: 100%;
	}
	.container .register nav {
		width: auto;
		margin-left: 0;
		left: 0;
		position: relative;
	}
	.container .register aside {
		width: auto;
		margin-right: 0;
	}
	.container .register footer {
		
	}
}

.container .register .cus #nregister {
	border: none;
	color: white;
	padding: 15px 32px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.container .register .sel #sregister {
	border: none;
	color: white;
	padding: 15px 32px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.container .register .cus #nregister, .container .register .sel #sregister
	{
	background-color: white;
	color: black;
	border: 2px solid #008CBA;
	width: 250px;
}
}