<link rel="stylesheet" href="../../../www/resources/css/include/mainFrame.css">

<nav class="app-bottom navbar-fixed bg-white">
        <div class="img-logo">
                <img src="../../../www/resources/images/location-pin.png" alt="">
        </div>
        <div class="img-logo">
                <img src="../../../www/resources/images/handshake.png" alt="">
        </div>
        <div class="img-logo">
                <img class="user" src="../../../www/resources/images/user.png" alt="">
        </div>
        <div class="img-logo">
                <img src="../../../www/resources/images/file.png" alt="">
        </div>
        <div class="img-logo">
                <img src="../../../www/resources/images/computer.png" alt="">       
         </div>
        
</nav>