
<nav class="navbar navbar-expand-lg fixed-top text-white navbar-dark"
	style="background-image: linear-gradient(94deg, #1ea1f7, #46cfa7);">
	<div class="container">
		<a class="navbar-brand" href="#">AirQ</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07"
			aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigatvion">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExample07">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item"><a class="nav-link" href="../../../www/views/service/introMain.html">서비스
						소개</a></li>
				<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="dropdown06" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">업체연결
						서비스</a>
					<div class="dropdown-menu" aria-labelledby="dropdown06">
						<a class="dropdown-item" href="../../../www/views/connect/상혁이꺼앱.html">업체 분석/비교</a> <a class="dropdown-item"
							href="/tenderMain">입찰 서비스</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="dropdown07" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">커뮤니티</a>
					<div class="dropdown-menu" aria-labelledby="dropdown07">
						<a class="dropdown-item" href="../../../www/views/community/thumbnailBoardMain.html?board_code=bd_rec">상품추천</a>
						<a class="dropdown-item" href="../../../www/views/community/tableBoardMain.html?board_code=bd_lib">자유게시판</a>
						<a class="dropdown-item" href="../../../www/views/community/thumbnailBoardMain.html?board_code=bd_met">대기오염 물질정보</a>
						<a class="dropdown-item" href="../../../www/views/community/thumbnailBoardMain.html?board_code=bd_imp">공기질 향상방법</a>
						<a class="dropdown-item" href="../../../www/views/community/thumbnailBoardMain.html?board_code=bd_hea">건강지킴이</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="dropdown08" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">공기질 관리</a>
					<div class="dropdown-menu" aria-labelledby="dropdown08">
						<a class="dropdown-item" href="/monitoringMain">공기질 모니터링</a>
						<a class="dropdown-item" href="/remoteMain">IOT 원격제어</a>
						<a class="dropdown-item" href="/mypageMain">MyPage</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>
