<link rel="stylesheet" href="../../../www/resources/css/include/header.css">
<link rel="stylesheet" href="../../../www/resources/css/bootstrap.css">
<script src="../../../www/resources/js/TweenLite.js"></script>
<script src="../../../www/resources/js/animation.js"></script>
<nav class="navbar navbar-expand-lg fixed-top shadow navbar-light bg-white">
    <div class="container-fluid">
        <div class="d-flex align-items-center"><a href="#" class="navbar-brand py-1"><img
                    src="../../../www/resources/images/airqWebLogo.png" alt="AirQ" style="height:35px;"></a>
        </div>
    </div>
</nav>