<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Swiper demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="../../../www/resources/css/connect/swiper.css">
    <!--
    <link rel="stylesheet" href="../../../www/resources/css/manage/insideChart.css">
    -->
    <link rel="stylesheet" href="../../../www/resources/css/connect/connect__app.css">
    <link rel="stylesheet" href="../../../www/resources/css/manage/monitoring.css">
    <script src="../../../www/resources/js/jquery-3.3.1.min.js"></script>
    <script src="../../../www/resources/js/TweenLite.js"></script>
    <script src="../../../www/resources/js/bootstrap.js"></script>
    <script src="../../../www/resources/js/home.js"></script>
    <script src="../../../www/resources/js/animation.js"></script>
    <!-- Demo styles -->

</head>

<body>
    <div class="load-gate" style="padding: 20px;">Now Loading. . .</div>
    <div id="header"></div>
    <!-- Swiper -->
    <div class="swiper-container" style="margin:28.75px 0 28.75px 0">
        <div class="connect_topNav">
            <button class="connect__topNav connect_active" id="comCatBtn">내부</button>
            <button class="connect__topNav" id="tenCatBtn">외부</button>
        </div>
        <!-- Add Scrollbar -->
        <div class="swiper-scrollbar"></div>
        <div class="swiper-wrapper">
            <!-- 실내 공기질 모니터링 시작-->
            <div class="swiper-slide">
                <div class="inside-container">
                    <div class="myIot">내기기 목록</div>

                    <input type="date" id="measureDate" onchange="measureDate(this)" />

                    <!-- Chart 시작 -->
                    <div id="chartdiv"></div>
                    <!-- Chart 끝 -->

                    <!-- Chart Detail 시작-->
                    <div id="chartList">
                        <h3>측정 상세 정보</h3>

                    </div>
                    <!-- Chart Detail 끝-->
                </div>
            </div>

            <!-- 실내 공기질 모니터링 끝-->





            <!--------------------------------------------------------------------------------------->
            <!---------------------------------- 실외 공기질 모니터링 시작----------------------------->
            <div class="swiper-slide">


                <!------------- 외부 공기질 차트 ------------->
                <div id="outchartdiv" style="width: 100%;height: 250px;"></div>
                <!------------------------------------------->


                <!-----------------------------지역 선택 ------------------------------>
                <div class="area-container">
                    <div class="select_box">
                        <select name="sido_code" id="sido_code" class="order-option ">
                            <option value="서울">서울</option>
                            <option value="부산">부산</option>
                            <option value="대구">대구</option>
                            <option value="인천">인천</option>
                            <option value="광주">광주</option>
                            <option value="대전">대전</option>
                            <option value="울산">울산</option>
                            <option value="경기">경기</option>
                            <option value="강원">강원</option>
                            <option value="충북">충북</option>
                            <option value="충남">충남</option>
                            <option value="전북">전북</option>
                            <option value="전남">전남</option>
                            <option value="경북">경북</option>
                            <option value="경남">경남</option>
                            <option value="제주">제주</option>
                            <option value="세종">세종</option>
                        </select>
                    </div>
                    <div class="select_box">
                        <select name="sigoon_code" id="sigoon_code" class="order-option">
                        </select>
                    </div>
                    <div class="select_box">
                        <select name="matter" id="matter" class="order-option">
                            <option value="pm10Value">미세먼지</option>
                            <option value="pm25Value">초미세먼지</option>
                            <option value="o3Value">오존</option>
                            <option value="no2Value">이산화질소</option>
                            <option value="coValue">일산화탄소</option>
                            <option value="so2Value">아황산가스</option>
                        </select>
                    </div>
                </div>
                <!--------------------------------------------------------------------->

                <!----------------------------측정값 테이블----------------------------->
                <div class="measure_table">
                    <div class="measure_box_header">
                        <div class="header-content measure_time">날짜</div>
                        <div class="header-content measure_val">측정값</div>
                    </div>
                    <div class="ajax-data">
                        <div class="measure_box" style="background: #ddd">
                            <div class="box-content measure_time">06월11일</div>
                            <div class="box-content measure_val">10</div>
                        </div>
                    </div>
                </div>
                <!--------------------------------------------------------------------->

            </div>
            <!--------------------------------------------------------------------------------------->


        </div>
    </div>
    <div id="footer"></div>

    <!-- Swiper JS -->
    <script type="text/javascript"
        src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=tpllhjh4tl&submodules=geocoder"></script>
    <script type="text/javascript" src="https://navermaps.github.io/maps.js.ncp/docs/js/MarkerClustering.js"></script>
    <!--------------------->



    <!---------------------------------------------------------------------------------------------------------------->
    <!-------------------------------------------- HighChart Scripts Start-------------------------------------------->

    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

    <!-------------------------------------------- HighChart Scripts ------------------------------------------------->
    <!---------------------------------------------------------------------------------------------------------------->
    <script src="https://www.amcharts.com/lib/4/themes/spiritedaway.js"></script>


    <script src="../../../www/resources/js/connect/swiper.js"></script>
    <script src="../../../www/resources/js/connect/connect__app.js"></script>
    <!-- <script src="../../../www/resources/js/monitoring/inside.js"></script> -->
    <script src="../../../www/resources/js/monitoring/monitoring.js"></script>
</body>

</html>



<!--------------------------------------------------->
<!-------------------실외 공기질 지도----------------->
<!--------------------------------------------------->
<!-- <div class="map-wrap">
                        <div id="map" class="map-container"></div>
                    </div> 
                                    <div class="matter_info">
                    </div>
                -->
<!--------------------------------------------------->
<!-------------------실외 공기질 지도----------------->
<!--------------------------------------------------->