<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../../www/resources/css/login/loginMain.css">
    <script src="../../../www/resources/js/jquery-3.3.1.min.js"></script>
    <script src="../../../www/resources/js/login/loginMain.js"></script>
</head>

<body>
    <div id="content">
            <div id="fullBg">

                    <div class="app">
                        <div class="member-card-layout">
                            <div class="member-card-layout__container">
                                <div class="member-card-layout__inner">
                                    <h1 class="member-card-layout__logo"><img class="member-card-layout__logo-image" src="https://member.op.gg/img_opgglogo.0c8876d1.svg" alt="OP.GG"></h1>
                                    <div class="login">
                                        <form>
                                            <h2 class="login__email-title">Email Login</h2>
                                            <div class="member-input">
                                                <div class="member-input__state"><input id="memberInput2562" class="member-input__box" type="text" autocomplete="off" name="email" value=""><label for="memberInput2562" class="member-input__label">Email
                                                        Address</label><span class="member-input__valid-wrapper"></span></div>
                                            </div>
                                            <div class="member-input">
                                                <div class="member-input__state"><input id="memberInput797" class="member-input__box" type="password" autocomplete="off" name="password" value=""><label for="memberInput797" class="member-input__label">Password</label><span class="member-input__valid-wrapper"></span></div>
                                            </div>
                                            <div class="login__l">
                                                <div class="login__checkbox">
                                                    <div class="member-checkbox"><span class="member-checkbox__state"><input id="memberCheckbox6277" type="checkbox" class="member-checkbox__input"></span><label for="memberCheckbox6277" class="member-checkbox__label">Remember
                                                            Me</label></div>
                                                </div><span class="login__find-password-btn"><a class="member-link" href="/find/reset-password/send-email">Forgot Password?</a></span>
                                            </div><button type="submit" class="member-button login__btn" disabled="">LOGIN</button>
                                            <div class="login__l-sign-up">Don’t have an account?<span class="login__sign-up-link"><a class="member-link" href="/register/agree?idType=OPGG">Sign Up</a></span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="select-language select-language--login-container"><button type="button" class="select-language__dropdown-btn">English<i class="select-language__dropdown-icon">
                                        </i></button></div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    <script>
        sessionStorage.setItem("IP_ADDRESS", "http://39.127.7.69/");
    </script>
</body>

</html>