<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjc.airq.mapper.DemandMapper">
	<!-- 상품 주문정보 등록 -->
	<insert id="pInsertDemand" parameterType="com.yjc.airq.domain.DemandVO">
		insert into demand(demand_code,demand_date,d_zipcode,d_road_addr,d_addr,d_addr_detail,member_id,product_code,d_service_date) values(#{demand_code},systimestamp,#{d_zipcode},#{d_road_addr},#{d_addr},#{d_addr_detail},#{member_id},#{product_code},to_timestamp(#{service_date},'YYYY/MM/DD HH24:MI:SS'))
	</insert>
	
	<!-- 상품 주문정보 삭제 -->
	<delete id="productDemandDelete" parameterType="String">
		delete from demand where product_code = #{product_code}
	</delete>
</mapper>