<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yjc.airq.mapper.ManageMapper">

<!-- 	<select id="remoteReg" resultType="com.yjc.airq.domain.IotVO">
		select * from IOT
	</select> -->

	<!-- 원격 메인화면에 뿌려주기 -->
	<select id="iotMain" resultType="com.yjc.airq.domain.IotInfoVO">
		select i.iot_id, m.member_id, mo.model_name, i.place_name
		from iot_info i, model mo, member m
		where m.member_id = #{member_id}
		and m.member_id = i.member_id
		and i.model_id = mo.model_id
	</select>

	<!-- 원격 제어 등록 -->
	<insert id="iotInfoInsert" parameterType="com.yjc.airq.domain.IotInfoVO">
		insert into iot_info(iot_id, out_whether, place_name, measure_cycle, location_x, location_y, ip, port, member_id, model_id)
		values(#{iot_id}, 'y', #{place_name}, 1, '100', '100', '39.127.7.68', 80, #{member_id}, #{model_id})
	</insert>
	
	<!-- 자신 원격제품 고유 닉네임 중복 체크 -->
	<select id="nCheck" resultType="com.yjc.airq.domain.IotInfoVO">
 		select iot_id from iot_info where iot_id = #{alias}
	</select>
	
	<!-- 미세먼지 측정 데이터 저장 -->
	<insert id="measureData" parameterType="map">
		insert into measure_data
		values(to_number(to_char(systimestamp,'YYMMDD')||to_char(data_code.nextval,'fm0000')),
		#{msd.measure_value},
		to_timestamp(#{time},'YY-MM-DD HH24:MI:SS'),
		#{msd.iot_id},
		'PM10')
	</insert>
	
	<select id="insideChart" resultType="com.yjc.airq.domain.MeasureDataVO">
		select MD.MEASURE_VALUE as measure, to_char(MD.MEASURE_TIME, 'yyyy-mm-dd hh:mi') as measuretime
		from MEASURE_DATA MD, IOT_INFO I, MEMBER M
		where M.member_id = #{member_id}
		and M.member_id = I.member_id
		and I.iot_id = MD.iot_id
		order by MD.MEASURE_TIME
	</select>
	
<!-- <insert id="modelInsert" parameterType="com.yjc.airq.domain.IotInfoVO">
		
	</insert> -->
	
</mapper>