<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yjc.airq.mapper.MatterMapper">
	<select id="matterList" resultType="com.yjc.airq.domain.MatterVO">
		select * from matter
	</select>
	<insert id="productMatterInsert" parameterType="String">
		insert into p_measure_matter(matter_code,product_code) values(#{matter_code},#{product_code})
	</insert>
	<delete id="productMatterDelete" parameterType="String">
		delete from p_measure_matter where product_code = #{product_code}
	</delete>
</mapper>