<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjc.airq.mapper.ReplyMapper">
	<select id="getReplys" resultType="com.yjc.airq.domain.ReplyVO" parameterType="String">
		SELECT * FROM REPLY WHERE POST_CODE = #{post_code} ORDER BY R_CREATION_DATE DESC
	</select>
	
	<insert id="insertReply" parameterType="com.yjc.airq.domain.ReplyVO">
		INSERT INTO REPLY 
		(
		REPLY_CODE,
		REPLY_CONTENT,
		R_CREATION_DATE,
		MEMBER_ID,
		POST_CODE,
		PRODUCT_CODE
		) VALUES (
		#{reply_code},
		#{reply_content},
		#{r_creation_date},
		#{member_id},
		#{post_code},
		#{product_code}
		)
	</insert>
	
	<delete id="deletePostReply" parameterType="String">
		DELETE FROM REPLY WHERE POST_CODE=#{post_code}
	</delete>
	
	<delete id="replyDelete" parameterType="String">
		DELETE FROM REPLY WHERE REPLY_CODE=#{reply_code}
	</delete>
	
	<!-- 마이페이지 관리자 댓글관리 댓글 정보 가져오기 -->
	<select id="mypageReplys" resultType="com.yjc.airq.domain.ReplyVO" parameterType="String">
		select * from reply, payment, post, board, demand
		where reply.post_code = post.post_code(+)
		and post.board_code = board.board_code(+)
		and reply.payment_code = payment.payment_code(+)
		and payment.demand_code = demand.demand_code(+)
	</select>
	
	<!-- 마이페이지 관리자 댓글관리 post쪽 정보 가져오기 -->
	<select id="mypageReplysPost" resultType="com.yjc.airq.domain.ReplyVO" parameterType="String">
		select * from reply, payment, post, board, demand
		where reply.post_code = post.post_code(+)
		and post.board_code = board.board_code(+)
		and reply.payment_code = payment.payment_code(+)
		and payment.demand_code = demand.demand_code(+)
		and reply.post_code != 'null'
	</select>
	
	<!-- 마이페이지 관리자 댓글관리 product쪽 정보 가져오기 -->
	<select id="mypageReplysProduct" resultType="com.yjc.airq.domain.ReplyVO" parameterType="String">
		select * from reply, payment, post, board, demand
		where reply.post_code = post.post_code(+)
		and post.board_code = board.board_code(+)
		and reply.payment_code = payment.payment_code(+)
		and payment.demand_code = demand.demand_code(+)
		and reply.payment_code != 'null'
	</select>
	
	<!-- 마이페이지 일반 사용자 댓글관리 댓글 정보 가져오기 -->
	<select id="mypageReplysNS" resultType="com.yjc.airq.domain.ReplyVO" parameterType="String">
		select * from reply, payment, post, board, demand
		where reply.post_code = post.post_code(+)
		and post.board_code = board.board_code(+)
		and reply.payment_code = payment.payment_code(+)
		and payment.demand_code = demand.demand_code(+)
		and reply.member_id = #{member_id}
	</select>
	
	<!-- 마이페이지  일반 사용자  댓글관리 post쪽 정보 가져오기 -->
	<select id="mypageReplysNSPost" resultType="com.yjc.airq.domain.ReplyVO" parameterType="String">
		select * from reply, payment, post, board, demand
		where reply.post_code = post.post_code(+)
		and post.board_code = board.board_code(+)
		and reply.payment_code = payment.payment_code(+)
		and payment.demand_code = demand.demand_code(+)
		and reply.member_id = #{member_id}
		and reply.post_code != 'null'
	</select>
	
	<!-- 마이페이지  일반 사용자  댓글관리 product쪽 정보 가져오기 -->
	<select id="mypageReplysNSProduct" resultType="com.yjc.airq.domain.ReplyVO" parameterType="String">
		select * from reply, payment, post, board, demand
		where reply.post_code = post.post_code(+)
		and post.board_code = board.board_code(+)
		and reply.payment_code = payment.payment_code(+)
		and payment.demand_code = demand.demand_code(+)
		and reply.member_id = #{member_id}		
		and reply.payment_code != 'null'
	</select>
	
	<!-- 마이페이지 댓글 삭제 -->
	<delete id="deleteComment" parameterType="String">
		delete from reply where reply_code=#{reply_code}
	</delete>
	
	<!-- 상품에 대한 리뷰 가져오기 -->
	<select id="productReply" resultType="com.yjc.airq.domain.ReplyVO">
		select r.reply_code,r.reply_content,r.r_creation_date,r.member_id,p.star_score from reply r,demand d, payment p 
		where r.payment_code = p.payment_code
		and p.demand_code = d.demand_code
		and d.product_code = #{product_code}
		order by r.r_creation_date desc
	</select>
	
	<!-- 상품 삭제시 댓글도 같이 삭제하기 -->
	<delete id="productReplyDelete" parameterType="String">
		delete from reply where payment_code in(
												select payment_code
												from payment p, demand d
												where p.demand_code = d.demand_code
												and d.product_code = #{product_code})
	</delete>
	
	<!-- 상품에서 본인 댓글 삭제하기 -->
	<delete id="deletePReply" parameterType="String">
		delete from reply where reply_code = #{reply_code}
	</delete>
	
	<!-- mypageNormal - 최신 댓글 -->
	<select id="normalNewReply" resultType="map">
		select rownum, r.reply_code, r.reply_content, to_char(r.r_creation_date,'yyyy-MM-dd hh24:mi') as r_creation_date, p.post_title, b.board_name
		from (select *
     		  from reply
     		  where member_id=#{member_id} and post_code is not null
     		  order by r_creation_date desc) r, post p, board b
     	where <![CDATA[rownum <= 5]]>
	    and p.board_code=b.board_code and r.post_code=p.post_code
	</select>
	
	<!-- 상품,입찰 리뷰 insert -->
	<insert id="reviewInsert" parameterType="com.yjc.airq.domain.ReplyVO">
		insert into reply(reply_code,reply_content,r_creation_date,member_id,payment_code) values(#{reply_code},#{reply_content},systimestamp,#{member_id},#{payment_code})
	</insert>
	
	<!-- 회사별 리뷰 -->
	<select id="companyReview" resultType="map">
		select t.tender_code, t.member_id, b.company_code, p.star_score,r.reply_content, to_char(r.r_creation_date,'yyyy.MM.dd hh:mi:ss') r_creation_date
		from tender t, bid b, payment p, reply r
		where t.tender_code=b.tender_code and b.win_bid_whether='y' 
		and t.tender_code=p.tender_code and b.company_code=#{company_code} and p.payment_code=r.payment_code
		order by r_creation_date desc
	</select>
	
	<!-- 리뷰 개수 -->
	<select id="reviewNum" resultType="int">
		select count(*)
		from(select t.tender_code, t.member_id, b.company_code, c.company_name, p.star_score,r.reply_content, to_char(r.r_creation_date,'yyyy.MM.dd hh:mi:ss') r_creation_date
			from tender t, bid b, payment p, reply r, company_info c
			where t.tender_code=b.tender_code and b.win_bid_whether='y' 
			and t.tender_code=p.tender_code and b.company_code=#{company_code} and p.payment_code=r.payment_code and b.company_code=c.company_code
			order by r_creation_date) o
	</select>
</mapper>