
* {
	box-sizing: border-box;
	justify-content: space-between;
}
.container .page-header {
	padding: 20px 40px;
	border-bottom: 4px solid #ccc;
	color: #999;
	text-transform: uppercase;
}
.container .form1 {
	padding: 20px 40px;
	margin-top: 9px;
	line-height: 17px;
	font-size: 14px;
	color: #7b858e;
}

.container .form1 .A_select {
	display: inline-block;
	width: 10%;
}

.container .form1 .A_title {
	display: inline-block;
	width: 10%;
}

.container .form1 .A_content {
	display: inline-block;
	width: 50%;
}

.container .form1 .A_member {
	display: inline-block;
	width: 10%;
}

.container .form1 .A_date {
	display: inline-block;
}

.container .form1 .C {
	line-height: 17px;
	font-size: 14px;
	float: right;
}

.container .form2 {
	border-top: 1px solid #ebeef1;
	padding: 12px 0;
	border-bottom: 1px solid #ebeef1;
}

.container .form2 .board {
	width: 10%;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
	text-align: center;	
}

.container .form2 .name_title {
	width: 10%;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
	text-align: center;
}

.container .form2 .reply_content {
	width: 50%;
	height: 50px;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
	text-align: center;
}

.container .form2 .member_id {
	width: 10%;
	display: inline-block;
}

.container .form2 .r_creation_date{
	display: inline-block;
	width: 15%;
}

.container .form2 .btn{

	font-size: 15px;
	width: 10%;
}

.container .form3 {
	border-top: 1px solid #ebeef1;
	padding: 12px 0;
	border-bottom: 1px solid #ebeef1;
}

.container .form3 .board {
	width: 10%;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
	text-align: center;
}

.container .form3 .name_title {
	width: 10%;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
	text-align: center;
}

.container .form3 .reply_content {
	width: 50%;
	height: 50px;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
	text-align: center;
}

.container .form3 .member_id {
	width: 10%;
	display: inline-block;
}

.container .form3 .r_creation_date{
	display: inline-block;
	width: 15%;
}

.container .form3 .btn{
	font-size: 15px;
	width: 10%;
}

.container .form4 {
	border-top: 1px solid #ebeef1;
	padding: 12px 0;
	border-bottom: 1px solid #ebeef1;
}

.container .form4 .board {
	width: 10%;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
	text-align: center;
}

.container .form4 .name_title {
	width: 10%;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
	text-align: center;
}

.container .form4 .reply_content {
	width: 50%;
	height: 50px;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
	text-align: center;
}

.container .form4 .member_id {
	width: 10%;
	display: inline-block;
}

.container .form4 .r_creation_date{
	display: inline-block;
	width: 15%;
}

.container .form4 .btn{
	font-size: 15px;
	width: 10%;
}

.container .content {
	overflow: hidden;
}

.container .content>* {
	float: left;
	padding-bottom: 2000px;
	margin-bottom: -2000px;
}

.container .content main {
	width: 100%;
}

/*float 지정 해제 해줌*/
.container footer {
	clear: both;
}
/*599px보다 웹페이지를 줄이면 일렬로 나타나게*/
@media ( max-width :1400px) {
	.container>.content>* {
		background-color: #f8f9fa;
	}
	.container .content {
		padding-left: 0px;
		padding-right: 0px;
		overflow: visible;
	}
	.container .content>* {
		float: none;
		padding-bottom: 0px;
		margin-bottom: 0px;
	}
	.container .content main {
		width: 100%;
	}
	.container .content nav {
		width: auto;
		margin-left: 0;
		left: 0;
		position: relative;
	}
	.container .content aside {
		width: auto;
		margin-right: 0;
	}
}