
* {
	box-sizing: border-box;
	justify-content: space-between;
}

.container .form1 {
	box-shadow: 5px 5px 5px rgba(0.5,0.5,0.5,0.5);
	background-color: #80bfff;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.03em;
	border-radius: 3px;
	padding: 25px 30px;
	
}

.container .form1 .A {
	width: 15%;
	display: inline-block;
}
.container .form1 .AA {
	width: 15%;
	display: inline-block;
}
.container .form1 .AAA {
	width: 20%;
	display: inline-block;
}
/* .container .form1 .AAAA { */
/* 	width: 10%; */
/* 	display: inline-block; */
/* } */
.container .form1 .AAAAA {
	width: 15%;
	display: inline-block;
}
.container .form1 .AAAAAA {
	width: 20%;
	display: inline-block;
}


.container .form1 .C {
	float: right;
	height: 25px;
}

.container .form2 {
		background-color: #ffffff;
		box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2);
		padding: 25px 30px;
		margin-bottom: 10px;
		border-style: outset;
}

.container .form2 .report_title {
	width: 15%;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
}

.container .form2 .member_id {
	width: 15%;
	text-overflow: ellipsis;
	overflow: hidden;
/* 	height: 50px; */
/* 	text-overflow: clip; */
/* 	overflow:auto; */
/* 	overflow-x:hidden; */
	display: inline-block;
/* 	margin: 0px; */
/* 	-webkit-transition: height 2s; */
/*   	transition: height 2s; */
}

/* .container .form2 .title:hover { */
/*  	height: 100px; */
/* } */

.container .form2 .original_code {
	width: 20%;
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;	
}
/* .container .form2 .report_count { */
/* 	width: 10%; */
/* 	display: inline-block; */
/* 	text-overflow: ellipsis; */
/* 	overflow: hidden;	 */
/* } */
.container .form2 .report_date {
	width: 15%;
	display: inline-block;
	text-overflow: ellipsis;
	overflow: inherit;
}
.container .form2 .delete_whether {
	width: 10%;
	display: inline-block;
	text-overflow: ellipsis;
	overflow: inherit;
}



.container .form3 {
		background-color: #ffffff;
		box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2);
		padding: 25px 30px;
		margin-bottom: 10px;
		border-style: outset;
}

.container .form3 .product_code {
	width: 15%;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
}

.container .form3 .product_detail {
	width: 40%;
	height: 50px;
	text-overflow: clip;
	overflow:auto;
	overflow-x:hidden;
	-webkit-line-clamp:3;
	display: inline-block;
	margin: 0px;
	-webkit-transition: height 2s;
  	transition: height 2s;
}

.container .form3 .product_detail:hover {
 	height: 150px;
}

.container .form3 .product_member_id {
	width: 15%;
	height: 50px;
	display: inline-block;
}
.container .form3 .product_d_service_date {
	width: 10%;
	height: 30px;
	display: inline-block;
	text-overflow: ellipsis;
	overflow: inherit;
}
.container .form3 .selection {
	display: inline-block;
}

.container .form4 {
		background-color: #ffffff;
		box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.2);
		padding: 25px 30px;
		margin-bottom: 10px;
		border-style: outset;
}

.container .form4 .post_title {
	width: 15%;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
}

.container .form4 .post_content {
	width: 40%;
	height: 50px;
	text-overflow: clip;
	overflow:auto;
	overflow-x:hidden;
	-webkit-line-clamp:3;
	display: inline-block;
	margin: 0px;
	-webkit-transition: height 2s;
  	transition: height 2s;
}

.container .form4 .post_content:hover {
 	height: 150px;
}

.container .form4 .member_id {
	width: 15%;
	height: 50px;
	display: inline-block;
}

.container .form4 .p_creation_date {
	width: 10%;
	height: 30px;
	display: inline-block;
	text-overflow: ellipsis;
	overflow: inherit;
}

.container .content {
	overflow: hidden;
}

.container .content>* {
	float: left;
	padding-bottom: 2000px;
	margin-bottom: -2000px;
}

.container .content main {
	width: 100%;
}

/*float 지정 해제 해줌*/
.container footer {
	clear: both;
}
/*599px보다 웹페이지를 줄이면 일렬로 나타나게*/
@media ( max-width :1400px) {
	.container>.content>* {
		background-color: #f8f9fa;
	}
	.container .content {
		padding-left: 0px;
		padding-right: 0px;
		overflow: visible;
	}
	.container .content>* {
		float: none;
		padding-bottom: 0px;
		margin-bottom: 0px;
	}
	.container .content main {
		width: 100%;
	}
	.container .content nav {
		width: auto;
		margin-left: 0;
		left: 0;
		position: relative;
	}
	.container .content aside {
		width: auto;
		margin-right: 0;
	}
}