#chartdiv {
  width: 100%;
  height: 500px;
}

@charset "UTF-8";
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


.infoTitle {
   color: #747474;
   font-size: 20px;
   margin-bottom: 5px;
}

.color_green {
   color: #4c7737;
}
.color_yellow {
   color: #ffbb42;
}
.green_thead {
   background-color: rgba(76,119,55,0.2);
}




.yellow_thead {
   background-color: rgba(255,187,66,0.2);
}



.reviewDiv {
   width:47%;
   height: 300px;
   display: inline-block;
}


#newReply {
   float:right;
}

.reviewTbl {
   width:100%;
   height:250px;
}

.reviewTbl tbody tr{
   border-bottom:1px solid #ddd;
}


#reviewList div {
   display: inline-block;
}

#reviewList {
   float: right;
   overflow-y: scroll;
}

.reviewTitle {
   font-weight: bold;
   display: block !important;
}

.reviewInfo {
   vertical-align: top;
   width: 70%;
   padding-left: 3rem;
}

.reviewPost {
   display: flex !important;
   flex-wrap: wrap;
   cursor:pointer;
   width: 100%;
   padding: 1rem;
   border-bottom:1px solid #ddd;
}

.reviewPrice {
   vertical-align:top;
   margin: auto;
   float: right;
   font-weight: bold;
   color: #3d59fc;
}

#reviewCategory {
    width: 100%;
    border-bottom: 1px solid #747474;
    height: 2rem;
}

.rCategoryOption {
    cursor: pointer;
    float: left;
    width: 10rem;
    height: 2rem;
    display: inline-flex;
    flex-wrap: wrap;
    font-size: 0.8rem;
    vertical-align: middle;
    padding: 0.2rem 0rem 0.2rem 1rem;
    border: 1px solid #ddd;
    border-bottom: 1px solid #747474;
    border-left: none;
    color: #929191;
}

.rOptionActive {
   font-weight: bold;
    border: 1px solid #747474;
    border-bottom: 1px solid #fff;
    font-size: 1rem;
    color: #000;
    background: rgba(63,75,184,0.2);
}