@charset "UTF-8";

#tenderWriteTbl {
	width: 100%;
	height: 400px;
}

#tenderWriteTbl td {
	padding: 1% 1%;
	border-bottom: 1px #D5D5D5 solid;
}

#tenderWriteTbl tr td:first-child {
	border-right: 1px #D5D5D5 solid;
	width: 15%;
	float: center;
}
.tr{
	border-top: 1px #D5D5D5 solid;
}

#tenderWriteBtnDiv {
	height:50px;
}

#tenderWriteBtn {
	float: right;
	height:40px;
	width:90px;
}