<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../../www/resources/css/connect/compare__app.css">
    <link rel="stylesheet" href="../../../www/resources/css/connect/tender__app.css">
    <script src="../../../www/resources/js/jquery-3.3.1.min.js"></script>
    <script src="../../../www/resources/js/connect/compare__app.js"></script>
</head>

<body>
    <div class="compare-wrap__app">


        <div class="top-cat__app">
            <div class="cat-content cat-active">업체 분석 비교</div>
            <div class="cat-content">입찰 서비스</div>
        </div>



        <div class="tender-cats">

            <div class="tender-count">입찰가능<span class="tCount">15</span>/<span class="tCount">20</span></div>

            <div class="tender-cat">
                <select name="">
                    <option value="">option1</option>
                    <option value="">option1</option>
                    <option value="">option1</option>
                    <option value="">option1</option>
                </select>
                <button class="tenderWriteBtn">작성하기</button>
            </div>
            <div class="place-area">
                <ul class="place-info">
                    <li class="do">
                        <div class="option-info">광역시/도</div>
                        <select name="" id="">
                            <option value="">option1</option>
                        </select>
                    </li>
                    <li class="si">
                        <div class="option-info">구</div>
                        <select name="" id="">
                            <option value="">option1</option>
                        </select>
                    </li>
                    <li class="floor">
                        <div class="option-info">평수 선택</div>
                        <select name="" id="">
                            <option value="">option1</option>
                        </select>
                    </li>
                    <li class="material">
                        <div class="option-info">측정 물질</div>
                        <select name="" id="">
                            <option value="">option1</option>
                        </select>
                    </li>
                </ul>
            </div>

        </div>

        <div class="smart-recommand">
            <div class="smart-explain">
                SMART추천<span class="qMark"><img src="../../../www/resources/images/qMark.png" alt=""></span>
            </div>
            <div class="smart-posts">
                <div class="smart-post">
                    <div class="post-thumb">
                        <img src="../../../www/resources/images/800490.png" alt="">
                    </div>
                    <div class="post-explain">
                        <div class="post-title">상품이름상품이름상품이름상품이름상품이름상품이름상품이름상품이름상품이름상품이름상품이름</div>
                        <div class="post-content">인텔/코어i5-8세대/ 위스키레이크 / i5-8265U 1.6GHz(3.9GHz) / 쿼드 코어 /</div>
                        <div class="post-price">845,000원</div>
                    </div>

                </div>
                <div class="smart-post">
                    <div class="post-thumb">
                        <img src="../../../www/resources/images/800490.png" alt="">
                    </div>
                    <div class="post-explain">
                        <div class="post-title">상품이름</div>
                        <div class="post-content">인텔/코어i5-8세대/ 위스키레이크 / i5-8265U 1.6GHz(3.9GHz) / 쿼드 코어 /</div>
                        <div class="post-price">845,000원</div>
                    </div>

                </div>
                <div class="smart-post">
                    <div class="post-thumb">
                        <img src="../../../www/resources/images/800490.png" alt="">
                    </div>
                    <div class="post-explain">
                        <div class="post-title">상품이름</div>
                        <div class="post-content">인텔/코어i5-8세대/ 위스키레이크 / i5-8265U 1.6GHz(3.9GHz) / 쿼드 코어 /</div>
                        <div class="post-price">845,000원</div>
                    </div>

                </div>
            </div>
        </div>
        <div class="compare-posts">
            <div class="compare-post">
                <div class="post-thumb">
                    <img src="../../../www/resources/images/800490.png" alt="">
                </div>
                <div class="post-explain">
                    <div class="post-title">상품이름</div>
                    <div class="post-content">인텔/코어i5-8세대/ 위스키레이크 / i5-8265U 1.6GHz(3.9GHz) / 쿼드 코어 /</div>
                    <div class="post-price">845,000원</div>
                </div>

            </div>
            <div class="compare-post">
                <div class="post-thumb">
                    <img src="../../../www/resources/images/800490.png" alt="">
                </div>
                <div class="post-explain">
                    <div class="post-title">상품이름</div>
                    <div class="post-content">인텔/코어i5-8세대/ 위스키레이크 / i5-8265U 1.6GHz(3.9GHz) / 쿼드 코어 /</div>
                    <div class="post-price">845,000원</div>
                </div>

            </div>
            <div class="compare-post">
                <div class="post-thumb">
                    <img src="../../../www/resources/images/800490.png" alt="">
                </div>
                <div class="post-explain">
                    <div class="post-title">상품이름</div>
                    <div class="post-content">인텔/코어i5-8세대/ 위스키레이크 / i5-8265U 1.6GHz(3.9GHz) / 쿼드 코어 /</div>
                    <div class="post-price">845,000원</div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>